*.dll
*.tmp
*.targets
*.xml
*.cache
.vs/*
dotnet/resources/.vs/*
dotnet/runtime/*
*.pdb
client_packages/cef/*
client_packages/cs_packages/bin/*
client_packages/cs_packages/obj/*
dotnet/resources/ProjectServer/obj*
dotnet/resources/ProjectServer/bin*
*.txt
*.nupkg
*.deps.json
.listcache
vehicleData.json
client_packages/game_resources/dlcpacks/*